

td {
    padding: 5px;
    border: 1px solid black; 
    border-collapse: collapse;
  }

th {
    padding: 5px;
    border: 1px solid black; 
    border-collapse: collapse;
  }

  tr {
    padding: 5px;
    border: 1px solid black; 
    border-collapse: collapse;
  }



#subjectoverviewTable{
    margin-top: 20px;
    width: calc(100% - 6px); /* Subtract the padding and border width */
    height: calc(100% - 6px); /* Subtract the padding and border width */
    padding: 0;
    border-collapse:collapse;
    text-align: center; /* Center the text within the input field */
    font-size: inherit; /* Inherit the font size from the table */
  }

